@media (min-width:1200px){
    body{
        background-color: rgba(227, 252, 7, 0.808);
    }
#parte1{
    width: 33%;
    float: left;
}
#parte2{
    width: 33%;
    float: left;
}
#parte3{
    width: 33%;
    float: left;
}
}




@media (min-width:601px) and (max-width:1200px){
    body{
        background-color: rgb(32, 186, 237);
    }
#parte1{
    width: 30%;
    float: left;
}
#parte2{
    width: 70%;
    float: left;
}
#parte3{
    width: 70%;
    float: right;
}
}


@media screen  and (max-width:600px){
    body{
        background-color: rgb(30, 189, 43);
    }
#parte1{
    width: 100%;
}
#parte2{
    width: 100%;
}
#parte3{
    width: 100%;
}
}

#parte2 ul li{
    color: blue;
}
#parte2 ul li strong{
    color: rgb(12, 12, 12);
}

#parte3 ul li{
    color: blue;
}
#parte3 ul li strong{
    color: rgb(12, 12, 12);
}

.container{
    margin: 10px;
    padding: 10px;
}



